html {
    background-color: #192DB7;
}

article.fond-triangles {
    background-image: url(../img/triangles-fond.png);
    background-repeat: no-repeat;
    background-position: center center;

}

body>div.haut-de-page>img {
    width: 359px;
    height: 156px;

}


.titre-du-bandeau {
    text-align: center;
    font-size: 15px;
    margin-left: -124px;
    margin-top: 18px;
    color: #00F9DE;
    font-family: 'Orbitron', sans-serif;

}

.marge-bleue {
    border-bottom: 8px solid #3D50D7;
}

.bandeau-titre {
    background : linear-gradient(#121634,#282F72);
    width: 359px;
    height: 70px;
    margin-top: -5px;

}



body>div.haut-de-page>div.bandeau-titre>ul>li {
    display: inline-block;
    vertical-align: top;
}

body>div.haut-de-page>div.bandeau-titre {
    display: inline-block;
    vertical-align: top;

}


body>div.haut-de-page>div.bandeau-titre>ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

body>div.haut-de-page>div.encadre-chapo {

    background-color: rgba(21, 33, 138, .75);
    width: 327px;
    height: 100px;
    margin-left: 8px;
    margin-top: -98px;
    margin-bottom: 15px;
    border: rgb(34, 0, 223) solid 8px;


}

body>div.haut-de-page>div.encadre-chapo>p {
    margin: 9px;
    font-size: 14px;
    text-align: center;
    font-family: 'Play', sans-serif;
    color: #EDFA00;
}

.intertitres {
    display: inline-block;
    background: linear-gradient(to right, #2815DD, #364AE0);
    border: 1px solid #52009A;
    padding-top: 4px;
    padding-left: 7px;
    height: 20px;
    width: 280px;
    margin-left: -18px;
    font-size: 14px;
    color: white;
    font-family: 'Comfortaa', sans-serif;
}

.images-articles{
    box-shadow: -12px 12px 2px 1px rgba(89, 106, 255, 100);
    border: 5px solid rgb(211, 211, 211);
    margin-top: 30px;
    margin-left: 12px;
    margin-right: 48px;
    margin-bottom: 30px;
    width: 315px;
    height: 170px;
}

.video {
    margin-top: 50px;
}


.triangle {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-top-width: 12px;
    border-bottom-width: 12px;
    border-left: 35px solid #2B9FE3;
    margin: -8px;
    margin-left: -4px;

}

.encadre-galerie {
    margin-top: 150px;
    margin-left: -18px;

}

.div-galerie {
    display: inline-block;
    position: relative;
}

.div-galerie .titre {
    z-index: 1;
    position: absolute;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    margin: 0 auto;
    left: 60px;
    right: 0;
    top : 140px;
    color: #00F9DE;
    width: 100%;
}


.intertitres.delavideo {
    margin-top: 100px;
}

article{
    margin: 10px;
    font-family: 'Play', sans-serif;
    color: #FFFFFF;
    font-size: 14px;
}


section.carousel>ul.carousel-items>li.carousel-item>img {
    max-width: 100%;
    height: 362px;
}


ul.carousel-items {
    list-style: none;
    padding: 20px 0;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

li.carousel-item {
    flex: 1 0 220px;
    margin-right: 20px;
    scroll-snap-align: center;
}

::-webkit-scrollbar {
    height: 5px;
    background: linear-gradient(to right, #364AE0, #00F9DE);
}

::-webkit-scrollbar-thumb {
    background-color: #364AE0;
}

footer {
    margin-top: 285px;
}
