body>header>h1>.logo>a {
    display: inline-block;
    width: 261px;
    height: 50px;
    background-image: url(../img/Header/logo.png);
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-position: center;

}

header {
    background-color: #364AE0;

}

.marge {
    border-bottom: 8px solid;
    border-image-slice: 1;

}

.gradient {
    border-image-source: linear-gradient(to left, #00AFFC, #F9F700);
}

h1 {
    margin-bottom: 0;
    margin-top: 0;
}


.bandeau-bienvenue {
    background : linear-gradient(white,#C7C7C7);
    width: 359px;
    height: 98px;
    margin-top: -8px;

}

.blue-gradient {
    width: 359px;
    height: 98px;
    background: linear-gradient(#576BFF, #192DB7);


}

body>div.haut-page-accueil>div.bandeau-bienvenue>ul>li {
    display: inline-block;
    vertical-align: top;


}

body>div.haut-page-accueil>div.bandeau-bienvenue {
    display: inline-block;
    vertical-align: top;

}


body>div.haut-page-accueil>div.bandeau-bienvenue>ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;

}

.triangles2 {
    display: inline-block;
    vertical-align: top;
    margin-left: -25px;
    height: 98px;

}

h2 {
    text-align: center;
    margin-left: -18px;
    margin-top: 35px;

}

h3 {
    margin-bottom: 11px;
}

body>div.haut-page-accueil>img {
    width: 360px;
    height: 245px;
}

.haut-page-accueil {
    background : linear-gradient(white,#C7C7C7);
}

body>div.haut-page-accueil>div.bandeau-bienvenue {
    border-top: 10px solid #3D50D7;
}

body>main.fond>p {

    width: 291px;
    margin-bottom: 58px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: -40px;


}

.marge-titres {
    background : linear-gradient(#364AE0, #2814DD);
    padding-top : 4px;
}

div.marge-basse1 {

}

.marge-basse1 {
    border-bottom: 18px solid #A59155;
    margin-right: -13px;
    margin-bottom: 100px;


}

div.marge-basse2 {

}


.marge-basse2 {
    border-bottom: 18px solid #068BEB;
    margin-right: -13px;
    margin-bottom: 100px;

}

div.marge-basse3 {

}


.marge-basse3 {
    border-bottom: 18px solid #F8F8F8;
    margin-right: -13px;

}


p.gris {
    background : linear-gradient(#E8E8E8,#B9B9B9);
    margin-left: 96px;
    margin-bottom: 0;
    margin-top: -113px;
    font-size: 14px;
    padding-top: 11px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 10px;
    font-family: 'Play', sans-serif;
    width: 225px;
    height: 95px;

}

.images-tweets {
    margin-top: -10px;
    height: 108px;
    width: 95px;
}


div.tweets {
    margin-right: 60px;
    padding-bottom: 80px;



}

div.mentions.module-footer {
    margin-top: 0;
    padding-top: 10px;
}

footer {
    width: 100%;
    height: 160px;
    background-image: url(../img/Footer/pattern.png);
    background-size: cover;


}

.module-footer {
    display: table-cell;
    vertical-align: top;

}

.mentions.module-footer {
    display: table-cell;
    vertical-align: top;
    width: 50%;
}

.contact-mmi.module-footer {
    display: table-cell;
    vertical-align: top;
    width: 50%;
}

footer>div.mentions.module-footer>p {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
}

.contact-mmi a{
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    display: block;

}

.contact-mmi a[href^="contact.html"] {
    background-image: url(../img/Footer/mail.svg);
    text-indent: -9999px;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.mmi img {
    padding-top: 35px;
    margin-right: 10px;
    padding-left: 35px;
}

a.contact {
    padding-top: 25px;
    margin-left: 15px;
}


body>footer>address.contact-mmi>a {
    display: inline-block;

}



footer>address.contact-mmi.module-footer>a {
    list-style-type: none;
}



main.fond {
    height: 1110px;
    background-color: #192DB7;
}
